/out/
/.idea/
/.gitignore



RestServer/WebApp/bin/Debug
RestServer/WebApp/appsettings.Development.json
RestServer/WebApp/appsettings.json
RestServer/WebApp/WebApp.csproj
RestServer/WebApp/Properties/launchSettings.json
RestServer/WebApp/obj/
RestServer/WebApp.sln
GUIClient.iml
RestServer/.idea/
RestServer/WebApp/.idea/.idea.WebApp/
SEP3.iml
RestServer/.vs/
SocketServer/ConsoleApp1/.vs
SocketServer/ConsoleApp1/ConsoleApp1.sln
SocketServer/ConsoleApp1/ConsoleApp1/bin
SocketServer/ConsoleApp1/ConsoleApp1/obj
